@model System.Web.Mvc.HandleErrorInfo

@{
    if (ViewBag.Title == null)
    {
        ViewBag.Title = "Error";
    }
}

<h1 class="text-danger">@ViewBag.Title</h1>
<h2 class="text-danger">O eroare a aparut in urma actiunii inregistrate.</h2>

