
@{
    ViewBag.Title = "New";
}

<h2>Creare articol</h2>
<p>Afisare formular de adaugare student</p>
<form method="post" action="/Article/New">
    <button type="submit" class="btn btn-primary">Adauga articol</button>
    <a class="btn btn-danger" href="/Article/Index" role="button" style="margin-left: 10%">Anulare</a>
</form>
<br />