
@{
    ViewBag.Title = "Adauga un articol";
}

<h2>Adauga un articol nou</h2>
<form method="post" action="/Article/New">
    <br />
    <h4>Titlu</h4>
    <textarea name="title" style="max-width: 30%; width:30%"></textarea>
    <br />
    <h4>Imagine</h4>
    <textarea name="title" style="max-width: 30%; width:30%"></textarea> 
    <button class="btn btn-primary"> Browse </button>
    <br />
    <h4>Descriere</h4>
    <textarea name="description" style="max-width: 80%; width:80%"></textarea>
    <br />
    <h4>Continut</h4>
    <textarea name="content" style="max-width: 80%; width:80%; height: 600px"></textarea>
    <br />
    <button type="submit" class="btn btn-primary">Adauga</button>
    <a class="btn btn-danger" href="/Article/Index" role="button" style="margin-left: 10%">Anulare</a>
</form>
<br />