@{
    ViewBag.Title = "Show";
}

<h1>@ViewBag.article.title</h1>
<p>@ViewBag.article.content</p>

<br />
<a class="btn btn-primary" href="/Article/Index" role="button">Inapoi la articole</a>
<br />

